<%-include("./partials/header")-%>
<body>
    <h1 class="text-black font-extrabold text-center text-4xl">Enter The Mentor Data</h1>
  
    <form id="addMentor" action="/admin" method="post">
      <div>

        <label for="idInput">Emp Id</label>
        <input type="numberInput" required placeholder="Mentor Id" id="mentorId" name="mentorId">
    
        <label for="nameInput">Name</label>
        <input type="text" required placeholder="Enter The Mentor Name" id="name" name="name">

        <label for="emailInput">Email</label>
        <input type="emailInput" required placeholder="Mentor's Email" id="email" name="email">

        <label for="numberInput">Phone Number</label>
        <input type="numberInput" required placeholder="Mentor' Ph Number" id="phNo" name="phNo">

        <label for="passwordInput">Password</label>
        <input type="passwordInput" required placeholder="Password" id="password" name="password">

        <div class="bg-yellow-500 hover:bg-amber-500 text-white font-bold py-2 px-4 rounded">
          <button type="submit">  Add </button> 
        </div>
      </div>
    </form>
</body>
</html>