<%-include("./partials/header")-%>
<body class="bg-gray-100">

    <div class="flex items-center justify-center h-screen bg-teal-600">
        <div class="text-center">
            <h1 class="text-4xl font-extrabold text-white">Student Registration Form</h1>
            <form action="/mentor" method="post" id="addStudentFrom" class="mt-8 bg-gray-800 p-8 rounded-md w-96 mx-auto shadow-md">
                <div class="mb-4">
                    <label for="name" class="block text-2xl text-white">Student Name:</label>
                    <input type="text" id="name" name="name" required class="px-4 py-2 bg-gray-800 text-xl border border-white-300 text-white rounded-md w-64">
                </div>
            
                <div class="mb-4">
                    <label for="studentId" class="block text-2xl text-white">Student Id</label>
                    <input type="text" id="studentId" name="studentId" required class="px-4 py-2 text-2xl bg-gray-800 border border-white-300 text-white rounded-md w-64">
                </div>
            
                <div class="mb-4">
                    <label for="rollNumber" class="block text-2xl text-white">Roll Number</label>
                    <input type="text" id="rollNumber" name="rollNumber" required class="px-4 py-2 text-2xl bg-gray-800 border border-white-300 text-white rounded-md w-64">
                </div>
            
                <div class="mb-4">
                    <label for="password" class="block text-2xl text-white">Password</label>
                    <input type="text" id="password" name="password" required class="px-4 py-2 border bg-gray-800 text-2xl text-white border-white-300 rounded-md w-64">
                </div>
            
                <div class="mt-8">
                    <button class="bg-teal-400 text-white hover:bg-gray-800 px-6 py-3 border-white-300 rounded-md mt-4" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

</body>
<script>
    document.getElementById("addStudentFrom").addEventListener("submit",(event)=>{
        console.log(event.target);
    })
</script>
</html>
